.categories {
    width: 100%;
    height: 55.6rem;
    background-color: #000;
    overflow: hidden;
    &__background {
        width: 100%;
        height: 100%;
        background-image: url(/Assets/Icons/Mask\ group.svg);
    }
    &__imgtitle {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 3rem 0;
    }

    &__slider-container {
        margin: 0 2rem;
    }
    &__slider {
        display: flex;
        gap: 2rem;
        overflow: scroll;
        flex-shrink: 0;
    }
    &__card {
        width: 29.8rem;
        height: 29.2rem;
        flex-shrink: 0;
       
        scale: .9;
     
          
    }
    &__card-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;   
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
       
        &--1{
            background-image: url(/Assets/img/makis.png);
    
        }
        &--2{

        }
    
    }
    &__card-title{
      font-size: 3.2rem;
    margin-bottom: 2rem;
    }

}


