@use '../global/mixins' as m;
.information{
    width: 100%;
    height: 55.5rem;
    background-image: url(/Assets/Icons/informationBackground.svg);
    background-size: cover;
    background-position: top;
    position: relative;
    @include m.tablet {
        background-position: 75% 25%;
    }
    @include m.desktopFull {
        height: 60rem;
    }
    &__content-text{
        @include m.tablet {
         
            width: 65%;
        }
        @include m.desktop {
            width: 45%;
            margin-left: 5rem;
            padding-top: 3rem;  
         
        
        }
        
    }
    &__title{
      
        width: 65%;
        padding: 6.5rem 0 2rem 3rem;
        text-wrap: balance;
        font-family: var( --font-syncopate-bold);
        @include m.tablet {
            text-wrap: wrap;
            width: 100%;
        }
        @include m.desktop {
            width: 80%;
            font-size: 2rem;
            text-wrap: wrap;
        }
    }
    &__paragraph{
        width: 28.2rem;
        padding: 1rem 0 0rem 4rem;
        font-size: 1.2rem;
        text-wrap: pretty;
        font-family: var(--font-pingfang-regular);
        @include m.tablet {
            width: 80%;
        }
        @include m.desktop {
            width: 90%;
            font-size: 1.4rem;
        }
    }
    &__img{
        display: block;
        width: 100%;
        margin-top: -2rem;
        object-fit: cover; 
        @include m.tablet {
            width: 65%;
            position: absolute;
            top: 0;
            right: 0;
        }
        @include m.desktop {
            width: 66%;
            margin-right: 3rem;
        }
       }
    &__imgfood{
        display: block;
        width: 24.5rem;
        height: 13.4rem;
        object-fit: cover;
        margin-top: -7rem;
        transform: scale(.9);
        position: relative;
        z-index: 60;
        @include m.tablet {
            width: 44.2rem;
            height: auto;
            position: absolute;
            bottom: -15%;
            left: 5%;
        }
        @include m.desktop {
            bottom: -11%;
        }
    }
  
 
}