.popular{
    width: 100%;
    height: 74rem;
    background: #000000;
    overflow: hidden;


   &__background{
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    background-image: url(../../../Assets/Icons/Mask\ group.svg);
  
   }
   &__container{
    width: 100%;
    max-width: 120rem;
   }
   &__img{
    display: block;
    margin: 0 auto;
   }
   &__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 2rem;
   }
   &__li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-pingfang-regular);

   }
&__slider-container{
    max-width: 100vw;
    position: relative;
    margin-left: 2rem;

}
   &__slider{
    margin: 4rem 0;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    gap: 3.5rem;
   
   
    // padding: 0 4rem 0 2.8rem;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
   }
   &__text{
 
    width: 55%;
    padding: 0 1rem;
    margin: 0 auto;
    text-wrap: balance;
    font-size: 1.7rem;
    text-align: center;
    position: relative;
    font-family: var(--font-dela-gothic);
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: .1rem;
        background-color: rgb(255, 255, 255);
        margin: 0.5rem auto;
       
    }
   }

}

