
@use 'mixins' as m;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@font-face {
  font-family: 'Dela Gothic One';
  src: url('/Assets/font/Dela_Gothic_One/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFangNormal';
  src: url('/Assets/font/PingFang-Fonts-master/PingFang-Fonts-master/PingFang Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'PingFangLigh';
//   src: url('/Assets/font/PingFang-Fonts-master/PingFang-Fonts-master/PingFang Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }

@font-face {
  font-family: 'PingFangmediun';
  src: url('/Assets/font/PingFang-Fonts-master/PingFang-Fonts-master/PingFang Medium.ttf') format('truetype');
  font-weight: 500;  /* Medium es generalmente 500 */
  font-style: normal;
}

@font-face {
  font-family: 'PingFangBold';
  src: url('/Assets/font/PingFang-Fonts-master/PingFang-Fonts-master/PingFang Bold.ttf') format('truetype');
  font-weight: bold;  /* 700 */
  font-style: normal;
}

@font-face {
  font-family: 'PingFangExtraBold';
  src: url('/Assets/font/PingFang-Fonts-master/PingFang-Fonts-master/PingFang Heavy.ttf') format('truetype');
  font-weight: 800;  /* Heavy es generalmente 800 */
  font-style: normal;
}

// @font-face {
//   font-family: 'PingFang';
//   src: url('/Assets/font/PingFang-Fonts-master/PingFang-Fonts-master/PingFang ExtraLight.ttf') format('truetype');
//   font-weight: 200;  /* ExtraLight es generalmente 200 */
//   font-style: normal;
// }


@font-face {
  font-family: 'SyncopateRegular';
  src: url('/Assets/font/Syncopate/Syncopate-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SyncopateBold';
  src: url('/Assets/font/Syncopate/Syncopate-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}





:root{
    --primary-font: "Open Sans";
    --font-dela-gothic: "Dela Gothic One"; /* Fuente Dela Gothic */
    --font-pingfang-regular: "PingFangNormal", sans-serif; /* PingFang Regular */
    --font-pingfang-medium: "PingFangmediun", sans-serif; /* PingFang Medium */
    --font-pingfang-bold: "PingFangBold", sans-serif; /* PingFang Bold */
    --font-pingfang-extrabold: "PingFangExtraBold", sans-serif; /* PingFang Heavy */
    // --font-pingfang-extralight: "PingFang", sans-serif; /* PingFang ExtraLight */
    --font-syncopate-regular: "SyncopateRegular", sans-serif; /* Syncopate Regular */
    --font-syncopate-bold: "SyncopateBold", sans-serif; /* Syncopate Bold */
    --background-Color:#0C2B82;
    --radius-Login: 2rem;
    --shadow-Login:0 6px 12px rgba(58, 58, 58, 0.15);
    --diplay-item: block;
    --imgicon-Lateral:url(../../../Assets/iconos-Logo/aaaa-gigapixel-standard\ v2-1x.png);
    --itemsMenu-ColorPrimary:#FCAF17;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box!important;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    letter-spacing: 0.5px;
   
  }
  [class*="__container"] {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
  }

  // [class*="__img"] {
  //   display: block;
  //   max-width: 100%;
  //   height: auto;
  // }
  body {
  
    font-size: 1.6rem;
    line-height: 1.6;
     min-height: 100vh;
     color: white;
     overflow-x: hidden;
     overflow-y: scroll;
     scrollbar-width: none;
  }
/* Personalización del scroll en navegadores WebKit */
body::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1e1e1e; /* Color del track (fondo del scroll) */
}

body::-webkit-scrollbar-thumb {
  background-color: #ff6347; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados de la barra */
  border: 3px solid #1e1e1e; /* Espacio entre la barra y el borde */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ff4500; /* Color cuando pasas el mouse sobre el scroll */
}

  .line{
    width: 100%;
    height: 0.6rem;
    background-color: white;
    &--small{
      width: 200%;
      margin-left: -2rem;
      height: .1rem;
      background-color: #F3EBE24D;
      @include m.desktop {
        display: none;
      }
    }
  }
.iconred{
  &__sprite{
    width: 100%;
    display: block;
  }
  @include m.desktop {
    height: min-content;
  }
}
  .iconred--ml{
    width: 100%;
    margin: 0;
  }