@use  '../global/mixins' as m;

.comboCustom {
  width: 22rem;
  height: 4.2rem;
  background-color: white ;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  position: relative;
 &--bg{
  background-color: #1B587E;
 
 }
  &__select {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    position: relative;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    font-family: var(--font-pingfang-regular);
  
    
  }
  &__span{
    color: #2473A6;
    &--bg{
      color: white;
    }
  }
  &__svg-path{
    fill: #fff;
  }

  &__option {
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    background-color: white;
    box-shadow:
      -4px -2px 16px 0px #ffffffe7,
      4px 2px 16px 0px rgb(95 157 231 / 48%),
      0px 0px 20px 10px #00000008,
      inset 5px 5px 20px rgba(0, 0, 0, 0.042),
      inset -5px -5px 20px rgba(255, 255, 255, 0.626);
    border-radius: 0.5rem;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: blue white;

    transition:
      max-height 0.25s ease-in,
      visibility 0.8s ease,
      opacity 0.4s ease;
      z-index: 200;
   
  }

 

  &__option.active {
    max-height: 12.5rem;
    visibility: visible;
    opacity: 1;
  }
  &__option-item{
    padding: 0.8rem 0 0.8rem 2rem;
    cursor: pointer;
    color: black;
  }

  .fade {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .active {
    opacity: 1;
  }
}
